.quadrado{
	background-color: pink;
	width:150px;
	height:150px;
	float:left;
	margin-right:10px;
	margin-left:10px;
}
.circulo{
	background-color:green;
	width:150px;
	height:150px;
	float:left;
	border-radius: 50%;
	margin-right:10px;
	
}
.retangulo{
	background-color:yellow;
	width:150px;
	height:75px;
	float:left;
}
.rotate45{
	transform: rotate(45deg);
}
.quadradofora{
	width:150px;
	height:150px;
	float:left;
	margin-right:10px;
	margin-left:10px;
	overflow:hidden;
}
.preparaTriangulo{
	margin-top:106px;
	width:150px;
	height:150px;
	background-color:red;
}
.triangulo{
	margin-right: 10px;
    width: 0px;
    height: 0px;
    float: left;
    border-left: 150px solid transparent;
    border-bottom: 150px solid red;
    border-right: 150px solid transparent;
}

